* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 97vw;
    font-family: 'Fraunces', serif;
    padding-left: 10px;
    padding-right: 10px;
    
}

header {
    width: 100%;
    height: 10%;
   

}

main {
    width: 100%;
    height: 75%;
}

.imagenindex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    height: 300px;
    margin: auto;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
}

li {
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: black;

}

.cards {

    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
    margin-top: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 200px;
    height: 150px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.363)
}
.card:hover{
    opacity: 0.6;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    height: 10%;
    width: 100%;
    column-gap: 20px;
    
}
i {
   color: black;  
}